body {
  background-color: black;
}
.chaomung {
  color: aqua;
  text-align: center;
  font-size: 14px;
}
.a1:link {
  color: salmon;
}
.a1:visited {
  color: greenyellow;
}
.thongbao {
  color: pink;
  text-align: center;
  font-size: 10px;
}
.tieude {
  text-align: center;
}
.lienhe {
  font-size: 10px;
  text-align: center;
}
#a1 {
  color: white;
  height: 100%; /* Đảm bảo phần thân trang có chiều cao đầy đủ */
  margin: 0; /* Xóa bỏ margin mặc định */
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
}
