body {
  /* background-image: url(../tai-nguyen/img/bacground/bgc.jpg); */
  background-color: black;
}
.chaomung {
  color: aqua;
  text-align: center;
  font-size: 14px;
}
.a1:link {
  color: salmon;
}
.a1:visited {
  color: greenyellow;
}
.thongbao {
  color: pink;
  text-align: center;
  font-size: 10px;
}
.tieude {
  text-align: center;
  margin: 55px;
}
.lienhe {
  font-size: 10px;
  text-align: center;
}
#a1 {
  color: white;
  height: 100%; /* Đảm bảo phần thân trang có chiều cao đầy đủ */
  margin: 0; /* Xóa bỏ margin mặc định */
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
}
.hieuungbang {
  box-shadow: 0 10px 50px rgb(0, 8, 255);
}
.hieuungbang1 {
  box-shadow: 0 3px 15px rgba(0, 255, 255);
}
.hieuungbang2 {
  box-shadow: 0 1px 6px rgba(3, 252, 90);
}
.hieuungbang3 {
  box-shadow: 0 1px 10px rgba(255, 0, 0);
}
#mahoa {
  width: 100px;
  height: 100px;
  background-color: blue;
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
  background-color: black;
}
#mahoa1:link {
  color: black;
}
#mahoa1:visited {
  color: black;
}
#mahoa1:active {
  color: black;
}
